@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Noto+Sans+Mono:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.active{
    color: rgb(201, 134, 10);
}
.profileImage:hover span{
    display: inline;
}
.logo-font{
    font-family: "Delius Unicase", cursive;
}
body{
    font-family: "Noto Sans Mono", monospace;
}