@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.active{
    color: rgb(201, 134, 10);
}
.profileImage:hover span{
    display: inline;
}
.logo-font{
    font-family: "Beau Rivage", cursive;
    font-weight: 300;
}
body{
    font-family: "Rasa", serif;
    font-weight: 300;
}
.prime_color{
    color: #e7a11f;
}
.prime_bg{
    background-color: #e7a11f;
}

.react-tabs__tab--selected:focus, .react-tabs__tab--selected, .react-tabs__tab--selected:hover{
    border-color: transparent !important;
    border: none !important;
    background-color: #e7a11f !important;
    color: white !important;
    border-radius: 12px !important;
}
.button-bg{
    background-color: #A5B68D;
}